{% extends 'Instructeur/base.html.instructeur.twig' %}
{%  block title %}TrainingFactory - Edit les{%  endblock %}
{% block dataTableScript %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            scrollY: 600,
            "info": false,
            scrollCollapse: true,
            "paging": false,
            "oLanguage": {
                "sSearch": "Filter"
            },
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        } );
    } );
</script>
{%  endblock %}
{% block content %}
    <h1>Edit les</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-success btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
