{% extends 'base.html.twig' %}
{% block body %}
{% block navbar %}
<div class="jumbotron text-center" style="margin-bottom:0;padding: 5px 5px 5px 5px; background-color: white">
    <a href="/"><img src="Images/Logo.jpg" class="mx-auto d-block" style="width:200px"></a>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registreer') }}">registreer</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}
{% endblock %}