{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <img src="{{ asset('Images/Logo.jpg') }}" class="mx-auto d-block">
</div>
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-4"><h2 class="text-center">Inloggen als:</h2></div>
    <div class="col"></div>

</div>

<div class="row mt-3">
    <div class="col"></div>
    <div class="col-3">
        <button type="button" class="btn btn-lg btn-secondary btn-block">Apotheker</button>
    </div>
    <div class="col-3">
        <a href="{{ path('lessenlijst') }}"><button type="button" class="btn btn-lg btn-secondary btn-block">Medewerker</button></a>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-lg btn-secondary btn-block">Arts</button>
    </div>
    <div class="col"></div>
</div>
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-6">
        <a href="{{ path('contact') }}"><button type="button" class="btn btn-secondary btn-block">Contact</button></a>
    </div>
    <div class="col"></div>
</div>
{% endblock %}